<% provide(:title,"About") %>
<div class="center">
	<h1>About Brewlitics</h1>
	<p>
		At Brewlitics our brewing software is designed to be as straight forward as our motto.
	</p>

	<p style="padding-top: 1em">Features:</p>
	<ul style="display: inline-block; text-align: left">
		<li>Protect and store your recipes in our cloud hosted database</li>
		<li>Maintain quality and accountability with process benchmarks and alerts</li>
		<li>Make brewing a breeze with our automatic and comprehensize calculations</li>
		<li>Experiment, perfect, and scale recipes with our lightweight batch analytics and reporting</li>
	</ul>
	<h2>Brew Better Beer!</h2>
	<p><em>Scheduled to release Summer 2017</em></p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
