<% provide(:title,"About") %>
<div class="center">
	<h1>About</h1>
	<p>
		At Brewlitics our brewing software is designed to be as straight forward as our motto.
	</p>

	<p>Features:</p>
	<ul style="display: inline-block; text-align: left">
		<li>Experiment, Perfect, and scale recipes with our lightweight batch analytics and reporting.</li>
		<li>Maintain quality and accountability with process benchmarks and alerts.</li>
		<li>Protect your recipes in our cloud hosted database.</li>
		<li>Make brewing a breeze with our automatic (and customizable) calculations.</li>
	</ul>
	<h2><strong style="color: black">Brew Better Beer!</strong></h2>
	<p><em>Scheduled to release Summer 2017</em></p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
