<% provide(:title,"Contact") %>
<h1>Contact Sheet</h1>
<ul>
  <li>Richard Faulkner- CEO and Founder rick@brewlitics.com</li>
  <li>Nicholas Stager- Marketing and Sales nick@brewlitics.com</li>
  <li>Dillon Manzanares- Analytics and Development dillon@brewlitics.com</li>
</ul>