<% provide(:title,"Contact") %>
<h1>Contact Sheet</h1>
<div style="text-align: center">
	<p style="display: inline-block; text-align: left">
	  <strong>Richard Faulkner</strong>- CEO and Founder <em style="color: blue">rick@brewlitics.com</em>
	  <br><strong>Nicholas Stager</strong>- Marketing and Sales <em style="color: blue">nick@brewlitics.com</em>
	  <br><strong>Dillon Manzanares</strong>- Analytics and Development <em style="color: blue">dillon@brewlitics.com</em>
	</p>
</div>