<% provide(:title,"Home") %>
<div class="center jumbotron">
  <h1>Welcome to Brewlitics</h1>
  <h2>
    We are a web-based application for all of your brewing analytics.
    <br>For more information check our <%= link_to "about", about_path %> page.</br>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<p>
  <%= image_tag("Beer_background.jpg", alt: "Beer", class: "beer") %>
</p>