<h1>Brewlitics</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Thank you for joining our followers. We will be sure to keep you up to date on our product. Click the below link to confirm your email:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

<p>
Brewlitics Team
</p>