<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<h2>Stay current with our software, sign up below!</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/user_form' %>
  </div>
</div>